/.cached*
/__pycache__*
/ips
/ipstools
modelsim*
/sim/ncompile/*
!/sim/ncompile/build.mk
/tests/*/
/pulp-runtime
/regression_tests
/Bender.lock
/.bender
/bender
/sim/compile.tcl
/sim/transcript
/sim/work
/work
/scripts
/aegis
