/.cached*
/__pycache__*
/ips
/ipstools
/sim/modelsim*
/sim/ncompile/*
!/sim/ncompile/build.mk
/tests/*/
/Bender.local
/Bender.lock
/.bender
/bender
/sim/compile.tcl
/sim/transcript
/sim/work
/pulp-runtime/*
/regression_tests/*
