pulp_cluster/*.edf
pulp_cluster/*.v
pulpemu/pulpemu.*
ips/*/ip/
*.jou
*.log
*.cache/
*.hw/
*.runs/
*.srcs/
*.xpr
*.xci
*.Xil
*.mif
*.swp
vivado_*
reports*
*bin
*bit

sim/.cxl*
sim/ips_inputs
sim/vcompile/rtl/*
sim/vcompile/ips/*
sim/models
sim/modelsim.ini.bak
*sim.v
*sdf
*.mcs
*.prm