
NET  FMC_MSPI_SCK              LOC = AD16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L18P_T2_10
NET  FMC_MSPI_SDIO03           LOC = AJ16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L4P_T0_10
NET  FMC_MSPI_SDIO02           LOC = AA15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L20P_T3_10
NET  FMC_MSPI_SDIO01           LOC = AK16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L4N_T0_10
NET  FMC_MSPI_SDIO00           LOC = AA14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L20N_T3_10
NET  FMC_MSPI_NCS0             LOC = AH28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L19P_T3_12
NET  FMC_MSPI_NCS1             LOC = AF30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L16P_T2_12
NET  FMC_MSPI_NCS2             LOC = AG30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L16N_T2_12

NET  FMC_SSPI_SCK              LOC = AE13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_10
NET  FMC_SSPI_NCS              LOC = AF13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_10
NET  FMC_SSPI_SDIO03           LOC = AE12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L7P_T1_10
NET  FMC_SSPI_SDIO02           LOC = AF12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L7N_T1_10
NET  FMC_SSPI_SDIO01           LOC = AJ15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L5P_T0_10
NET  FMC_SSPI_SDIO00           LOC = AK15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L5N_T0_10

NET  FMC_SENS_INT0             LOC = AB15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L22P_T3_10
NET  FMC_SENS_INT1             LOC = AB14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L22N_T3_10
NET  FMC_SENS_INT2             LOC = AH26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L23P_T3_12

NET  FMC_I2S_SCK0              LOC = AG29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_12
NET  FMC_I2S_SDI0              LOC = AE25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L18P_T2_12
NET  FMC_I2S_SDI1              LOC = AD25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L10P_T1_12
NET  FMC_I2S_SDI2              LOC = AF25 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L18N_T2_12
NET  FMC_I2S_SDI3              LOC = AE26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L10N_T1_12

NET  FMC_I2C_SCL               LOC = Y30  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L1P_T0_12
NET  FMC_I2C_SDA               LOC = AA30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L1N_T0_12

NET  FMC_ADC_SDI0              LOC = AD29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_12
NET  FMC_ADC_SDI1              LOC = AB29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L2P_T0_12
NET  FMC_ADC_SDI2              LOC = AB30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L2N_T0_12
NET  FMC_ADC_SDI3              LOC = Y26  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L3P_T0_DQS_12
NET  FMC_ADC_SCK               LOC = Y27  | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L3N_T0_DQS_12
NET  FMC_ADC_NCS               LOC = AH27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L23N_T3_12

NET  FMC_GPIO0                 LOC = AF15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_10
NET  FMC_GPIO1                 LOC = AG15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_10
NET  FMC_GPIO2                 LOC = AB12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_10
NET  FMC_GPIO3                 LOC = AC12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_10
NET  FMC_GPIO4                 LOC = AD13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L9N_T1_DQS_10
NET  FMC_GPIO5                 LOC = AD14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L9P_T1_DQS_10
NET  FMC_GPIO6                 LOC = AH12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L10N_T1_10
NET  FMC_GPIO7                 LOC = AG12 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L10P_T1_10

NET  FMC_LOOP0_O               LOC = AE18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L17P_T2_10
NET  FMC_LOOP0_I               LOC = AE17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L17N_T2_10
NET  FMC_LOOP1_O               LOC = AG26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L17P_T2_12
NET  FMC_LOOP1_I               LOC = AG27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L17N_T2_12
NET  FMC_LOOP2_O               LOC = AK27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L22P_T3_12
NET  FMC_LOOP2_I               LOC = AK28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L22N_T3_12
NET  FMC_LOOP3_O               LOC = AE16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L16P_T2_10
NET  FMC_LOOP3_I               LOC = AE15 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L16N_T2_10
NET  FMC_LOOP4_O               LOC = AH14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L8P_T1_10
NET  FMC_LOOP4_I               LOC = AH13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L8N_T1_10

NET  FMC_CAM_PCLK              LOC = AB27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L11P_T1_SRCC_12
NET  FMC_CAM_HREF              LOC = AC27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L11N_T1_SRCC_12
NET  FMC_CAM_VSYNC             LOC = AF17 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L15N_T2_DQS_10
NET  FMC_CAM_D0                LOC = AK26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L24N_T3_12
NET  FMC_CAM_D1                LOC = AJ26 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L24P_T3_12
NET  FMC_CAM_D2                LOC = AE27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L14P_T2_SRCC_12
NET  FMC_CAM_D3                LOC = AJ30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L20P_T3_12
NET  FMC_CAM_D4                LOC = AF27 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L14N_T2_SRCC_12
NET  FMC_CAM_D5                LOC = AK30 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L20N_T3_12
NET  FMC_CAM_D6                LOC = AH16 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L6N_T0_VREF_10
NET  FMC_CAM_D7                LOC = AJ29 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L21N_T3_DQS_12
NET  FMC_CAM_SCK               LOC = AC14 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L19P_T3_10
NET  FMC_CAM_MOSI              LOC = AC13 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L19N_T3_VREF_10
NET  FMC_CAM_MISO              LOC = AF18 | IOSTANDARD=LVCMOS25; # Bank  10 VCCO - VADJ_FPGA - IO_L15P_T2_DQS_10
NET  FMC_CAM_NCS               LOC = AJ28 | IOSTANDARD=LVCMOS25; # Bank  12 VCCO - VADJ_FPGA - IO_L21P_T3_DQS_12

